a {
  color: black;
  text-decoration: none;
}

#active {
  color: red;
}

h1 {
  font-size: 40px;
  text-align: center;
  border-width: 3px;
  border-color: black;
  border-bottom-style: solid;
  margin: 0px;
  padding: 20px;
}

body {
  margin: 0px;
}

#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}

#grid ol {
  border-right: 3px solid black;
  margin: 0px;
  padding-top: 20px;
}

#grid #article {
  padding: 30px;
}

#grid h2 {
  margin: 0px;
}

@media(max-width:800px) {
  #grid {
    display: block;
  }

  #grid ol {
    border-right: none;
    margin: 0px;
    padding-top: 20px;
  }

  h1 {
    border-bottom: none;
  }
}
